*.hide {
    display: none;
}

img.logo {
    max-width: 500px;
    width: 100%;
}

canvas.drawingBuffer {
    display: none;
}

video {
    width: 100%;
    height: 100%;
}


body{
    font-family: 'Roboto', sans-serif;
}

p, h5{
    color: black;
}

.wrapper{
    background-color: #0798B8;


#factContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
}

#foodSection{
    margin: 1rem;
}
img.foodImg{
    max-height: 10rem;

}