*.hide {
    display: none;
}

img.logo {
    max-width: 500px;
    width: 100%;
}

canvas.drawingBuffer {
    display: none;
}

video {
    width: 100%;
    height: 100%;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #0798B8;
}

.wrapper{
    background-color: #0798B8;

}
#factContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
}

#foodSection{
    margin: 1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
*.btn{
    box-shadow: 2px 2px white;
}


@media (max-width: 576px){
    *.btn{
        font-size: 4rem;
    } 
    #foodFacts{
        display:flex;
        flex-direction: column;
    }
    
}