.container{
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.formcontainer{
    margin-top:40%;
    margin-bottom: 40%;

}
#passwordRest{
    margin-top:40%;
    margin-bottom: 40%;
}
.hide{
    display: none;
}